.body-indice{
	background-color: #af2b2d; /*f7582a*/
}
.body-contenido{
	background-color: #2e6eb9;
}
a{
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
#indice>li{
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px #000;
}
p{
	font-size: 20px;
}
h1,h2,h3,h4,p{
	color: #fff;
}
h1,h2,h3,h4{
	margin-top: 20px;
}
h2::before{
	content: "• ";
}
h3{
	text-decoration: underline;
}
.ejemplo{
	background-color:#06C;
	border: 1px solid #000;
	border-radius:0 0 10px 10px;
	padding: 10px;
	box-shadow: 2px 2px 5px #000;
	margin-top: 10px;
}
.ejemplo>h3{
	text-align:center;
	margin-bottom:10px;
}
pre{
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	padding:15px;
	color:#000;
}
body{
	padding:7px !important;
	font-size: 25px;
}
p{
	font-size: 25px;
}
.consola{
	color:#fff;
	background-color:#000;
	font-family:"Courier New", Courier, monospace;
	padding:30px;
	font-size:18px;
}
.comando{
	color:#fff;
	background-color:#000;
	font-family:"Courier New", Courier, monospace;
	padding: 2px 5px;
	border-radius: 5px;
}
td{
	color:#000;
	font-size:12px;
}
li{
	color:#fff;
	font-size: 20px;
}
.resaltado{
	background-color: yellow;
}