proyectos/calculadora/node_modules
proyectos/gastos/node_modules
proyectos/gastos2/node_modules
proyectos/mi-primer-app/node_modules
proyectos/personas/node_modules
proyectos/control-clientes/node_modules
