<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>indice</title>
<link rel="stylesheet"  type="text/css" href="css/style.css" />
</head>

<body class="body-indice">
<h2><a href="portada.html" target="contenido">Introduccion.</a></h2>
<ol id="indice">
<li><a href="contenido/instalacion.html" target="contenido">Instalacion</a></li>
<li><a href="contenido/plugins.html" target="contenido">Plugins para VS code</a></li>
<li><a href="contenido/primeraplicacion.html" target="contenido">Crear una aplicacion</a></li>
<li><a href="contenido/subirservidor.html" target="contenido">Levantar el servidor</a></li>
<li><a href="contenido/archivosbasicos.html" target="contenido">Archivos Basicos</a></li>
<li><a href="contenido/crearuncomponente.html" target="contenido">Crear un componente</a></li>
<li><a href="contenido/componentemanual.html" target="contenido">Crear un componente manual</a></li>
<li><a href="contenido/evitararchivo.html" target="contenido">Evitar tener un archivo component.html</a></li>
<li><a href="contenido/instalarbootstrap.html" target="contenido">Instalar Bootstrap</a></li>
<li><a href="contenido/interpolacion.html" target="contenido">Interpolacion</a></li>
<li><a href="contenido/binding.html" target="contenido">Property binding</a></li>
<li><a href="contenido/eventbinding.html" target="contenido">Event binding</a></li>
<li><a href="contenido/eventbindinginput.html" target="contenido">Event binding para un input</a></li>
<li><a href="contenido/twowaybinding.html" target="contenido">Two way binding</a></li>
<li><a href="contenido/if.html" target="contenido">Directiva *ngIf</a></li>
<li><a href="contenido/for.html" target="contenido">Directiva *ngFor</a></li>
<li><a href="contenido/pbec.html" target="contenido">Property binding entre componentes</a></li>
<li><a href="contenido/ebec.html" target="contenido">Event binding entre componentes</a></li>
<li><a href="contenido/referenciaslocales.html" target="contenido">Referencias locales</a></li>
<li><a href="contenido/formularios2.html" target="contenido">Otra forma de trabajr con fomularios</a></li>
<li><a href="contenido/servicios.html" target="contenido">Servicios</a></li>
<li><a href="contenido/leerservicios.html" target="contenido">Leer servicios desde otros servicios</a></li>
<li><a href="contenido/cecus.html" target="contenido">Comunicación entre componentes (EventEmitter)</a></li>
<li><a href="contenido/pipes.html" target="contenido">Pipes</a></li>
<li><a href="contenido/ngclass.html" target="contenido">ngClass</a></li>
<li><a href="contenido/routing.html" target="contenido">Rutas (routing)</a></li>
<li><a href="contenido/parametrosruta.html" target="contenido">Parametros en la ruta</a></li>
<li><a href="contenido/queryparams.html" target="contenido">Query params</a></li>
<li><a href="contenido/rutashijas.html" target="contenido">Rutas hijas(child route)</a></li>
<li><a href="contenido/gldeubdd.html" target="contenido">Guardar los datos en una base de datos</a></li>
<li><a href="contenido/actualizardatos.html" target="contenido">Actualizar datos de la base</a></li>
<li><a href="contenido/borrardatos.html" target="contenido">Borrar un registro</a></li>
<li><a href="contenido/solicitudautenticacion.html" target="contenido">Trabajar con la solicitud de autenticación</a></li>
<li><a href="contenido/guardianes.html" target="contenido">Guardianes</a></li>
<li><a href="contenido/compilar.html" target="contenido">Compilar un proyecto para modo distribucion</a></li>
<li><a href="contenido/hostfirebase.html" target="contenido">Usar el host de firebase</a></li>
</ol>
</body>
</html>