<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Titulo</title>
<link rel="stylesheet"  type="text/css" href="../css/bootstrap-4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"  type="text/css" href="../css/style.css" />
<script src="../js/jquery/jquery-3.1.1.min.js"></script>
<script src="../css/bootstrap-4.3.1/js/bootstrap.min.js"></script>
<style>
</style>
</head>

<body class="body-contenido">
<h2>Directiva *ngIf</h2>
<p>Con esta directiva podemos hacer que un componente sea visible o no</p>
<pre>
	&lt;p *ngIf="click">{{mensajeAgregarPersona}}&lt;/p>
</pre>
<p>click es una variable booleana, ahora vamos a ver como usar el else</p>
<pre>
&lt;p *ngIf="disteClick; else sinPersona">{{mensajeAgregarPersona}}&lt;/p>
    &lt;ng-template #sinPersona>
        &lt;p>No se ha agregado ninguna persona&lt;/p>
    &lt;/ng-template>

</pre>
<p>En este caso se mostraría el control ng-template mientras el valor de disteClick sea false</p>
</body>
</html>